.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #3CC3BC,#3c83c3);
}
.text-field-gray {
    -fx-background-color: #e3e3e3;
}

.button-blue {
    -fx-background-color: #3c9ae2;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-family: Calibre;
}